
NET "FMRx[7]" LOC = B1;
NET "FMRx[6]" LOC = B3;
NET "FMRx[5]" LOC = A2;
NET "FMRx[4]" LOC = B2;
NET "FMRx[3]" LOC = F1;
NET "FMRx[2]" LOC = C3;
NET "FMRx[1]" LOC = H8;
NET "FMRx[0]" LOC = F5;

NET "FMRx[7]" IOSTANDARD = LVCMOS18;
NET "FMRx[6]" IOSTANDARD = LVCMOS18;
NET "FMRx[5]" IOSTANDARD = LVCMOS18;
NET "FMRx[4]" IOSTANDARD = LVCMOS18;
NET "FMRx[3]" IOSTANDARD = LVCMOS18;
NET "FMRx[2]" IOSTANDARD = LVCMOS18;
NET "FMRx[1]" IOSTANDARD = LVCMOS18;
NET "FMRx[0]" IOSTANDARD = LVCMOS18;

NET "Debug[10]" LOC = T4;
NET "Debug[9]" LOC = M5;
NET "Debug[8]" LOC = V5;
NET "Debug[7]" LOC = W3;
NET "Debug[6]" LOC = T3;
NET "Debug[5]" LOC = M4;
NET "Debug[4]" LOC = R8;
NET "Debug[3]" LOC = Y1;
NET "Debug[2]" LOC = W1;
NET "Debug[1]" LOC = T7;

NET "Debug[10]" IOSTANDARD = LVCMOS18;
NET "Debug[9]"  IOSTANDARD = LVCMOS18;
NET "Debug[8]" IOSTANDARD = LVCMOS25;
NET "Debug[7]" IOSTANDARD = LVCMOS18;
NET "Debug[6]" IOSTANDARD = LVCMOS18;
NET "Debug[5]" IOSTANDARD = LVCMOS18;
NET "Debug[4]" IOSTANDARD = LVCMOS25;
NET "Debug[3]" IOSTANDARD = LVCMOS18;
NET "Debug[2]" IOSTANDARD = LVCMOS18;
NET "Debug[1]" IOSTANDARD = LVCMOS25;

#
# LPDDR MIG pins
NET "LPDDRCtrl/memc3_infrastructure_inst/sys_clk_ibufg" KEEP = "TRUE";

NET "BA[1]" LOC = G1;
NET "BA[0]" LOC = G3;

NET "BA[1]" IOSTANDARD = LVCMOS18;
NET "BA[0]" IOSTANDARD = LVCMOS18;

NET "SDA[13]" IOSTANDARD = LVCMOS18;
NET "SDA[12]" IOSTANDARD = LVCMOS18;
NET "SDA[11]" IOSTANDARD = LVCMOS18;
NET "SDA[10]" IOSTANDARD = LVCMOS18;
NET "SDA[9]" IOSTANDARD = LVCMOS18;
NET "SDA[8]" IOSTANDARD = LVCMOS18;
NET "SDA[7]" IOSTANDARD = LVCMOS18;
NET "SDA[6]" IOSTANDARD = LVCMOS18;
NET "SDA[5]" IOSTANDARD = LVCMOS18;
NET "SDA[4]" IOSTANDARD = LVCMOS18;
NET "SDA[3]" IOSTANDARD = LVCMOS18;
NET "SDA[2]" IOSTANDARD = LVCMOS18;
NET "SDA[1]" IOSTANDARD = LVCMOS18;
NET "SDA[0]" IOSTANDARD = LVCMOS18;

NET "SDA[13]" LOC = G6;
NET "SDA[12]" LOC = D1;
NET "SDA[11]" LOC = C1;
NET "SDA[10]" LOC = G4;
NET "SDA[9]" LOC = E1;
NET "SDA[8]" LOC = E3;
NET "SDA[7]" LOC = H6;
NET "SDA[6]" LOC = J4;
NET "SDA[5]" LOC = K3;
NET "SDA[4]" LOC = F3;
NET "SDA[3]" LOC = K6;
NET "SDA[2]" LOC = H5;
NET "SDA[1]" LOC = H1;
NET "SDA[0]" LOC = H2;

NET "SDD[15]" IOSTANDARD = LVCMOS18;
NET "SDD[14]" IOSTANDARD = LVCMOS18;
NET "SDD[13]" IOSTANDARD = LVCMOS18;
NET "SDD[12]" IOSTANDARD = LVCMOS18;
NET "SDD[11]" IOSTANDARD = LVCMOS18;
NET "SDD[10]" IOSTANDARD = LVCMOS18;
NET "SDD[9]" IOSTANDARD = LVCMOS18;
NET "SDD[8]" IOSTANDARD = LVCMOS18;
NET "SDD[7]" IOSTANDARD = LVCMOS18;
NET "SDD[6]" IOSTANDARD = LVCMOS18;
NET "SDD[5]" IOSTANDARD = LVCMOS18;
NET "SDD[4]" IOSTANDARD = LVCMOS18;
NET "SDD[3]" IOSTANDARD = LVCMOS18;
NET "SDD[2]" IOSTANDARD = LVCMOS18;
NET "SDD[1]" IOSTANDARD = LVCMOS18;
NET "SDD[0]" IOSTANDARD = LVCMOS18;

NET "SDD[15]" LOC = V1;
NET "SDD[14]" LOC = V2;
NET "SDD[13]" LOC = U1;
NET "SDD[12]" LOC = U3;
NET "SDD[11]" LOC = R1;
NET "SDD[10]" LOC = R3;
NET "SDD[9]" LOC = P1;
NET "SDD[8]" LOC = P2;
NET "SDD[7]" LOC = K1;
NET "SDD[6]" LOC = K2;
NET "SDD[5]" LOC = J1;
NET "SDD[4]" LOC = J3;
NET "SDD[3]" LOC = M1;
NET "SDD[2]" LOC = M2;
NET "SDD[1]" LOC = N1;
NET "SDD[0]" LOC = N3;

NET "LDM" IOSTANDARD = LVCMOS18;
NET "LDM" LOC = L4;

NET "UDM" LOC = M3;
NET "UDM" IOSTANDARD = LVCMOS18;

NET "LDQS" LOC = L3;
NET "LDQS" IOSTANDARD = LVCMOS18;

NET "UDQS" LOC = T2;
NET "UDQS" IOSTANDARD = LVCMOS18;

NET "SDWE" LOC = F2;
NET "SDWE" IOSTANDARD = LVCMOS18;

NET "RAS" LOC = K5;
NET "RAS" IOSTANDARD = LVCMOS18;

NET "CAS" IOSTANDARD = LVCMOS18;
NET "CAS" LOC = K4;

NET "SDCKE" LOC = D2;
NET "SDCKE" IOSTANDARD = LVCMOS18;

NET "SDClk_P" LOC = H4;
NET "SDClk_P" IOSTANDARD = DIFF_MOBILE_DDR;

NET "SDRzq" LOC = Y2;
NET "SDRzq" IOSTANDARD = LVCMOS18;

# Enable for LVDS receiver chip
NET "FMRxEn" LOC = A3;

# FM Encoded trigger requests and microbunch numbers
NET "HrtBtFM" LOC = L17;
NET "DreqFM" LOC = U6;

# LVDS clock fanout SPI port
NET "SPICS" LOC = D21; 
NET "SPISClk" LOC = D20; 
NET "SPIMOSI" LOC = E22;
NET "SPIMISO" LOC = D22;

#Ethernet PHY connections
NET "PhyPDn" LOC = K17;
NET "PhyRst" LOC = B22;

NET "MDIO[0]" LOC = F22;
NET "MDC[0]" LOC = F21;
NET "MDIO[1]" LOC = A17;
NET "MDC[1]" LOC = B18;

NET "RxClk[0]" LOC = R22;
NET "RxDV[0]" LOC = R20;
NET "RxErr[0]" LOC = T21;
NET "CRS[0]" LOC = T22;
NET "RxDA[3]" LOC = U20;
NET "RxDA[2]" LOC = U22;
NET "RxDA[1]" LOC = T19;
NET "RxDA[0]" LOC = T20;

NET "TxEn[0]" LOC = V22;
NET "TxDA[3]" LOC = W20;
NET "TxDA[2]" LOC = W18;
NET "TxDA[1]" LOC = W22;
NET "TxDA[0]" LOC = V21;

NET "RxClk[1]" LOC = W15;
NET "RxDV[1]" LOC = AB21;
NET "RxErr[1]" LOC = AB19;
NET "CRS[1]" LOC = Y19;
NET "RxDB[3]" LOC = Y16;
NET "RxDB[2]" LOC = AB17;
NET "RxDB[1]" LOC = Y17;
NET "RxDB[0]" LOC = Y18;

NET "TxEn[1]" LOC = AB16;
NET "TxDB[3]" LOC = AA14;
NET "TxDB[2]" LOC = AB15;
NET "TxDB[1]" LOC = Y15;
NET "TxDB[0]" LOC = AA16;

NET "RxClk[2]" LOC = G19;
NET "RxDV[2]" LOC = H22;
NET "RxErr[2]" LOC = H18;
NET "CRS[2]" LOC = H20;
NET "RxDC[3]" LOC = K21;
NET "RxDC[2]" LOC = K22;
NET "RxDC[1]" LOC = J19;
NET "RxDC[0]" LOC = G20;
 
NET "TxEn[2]" LOC = K20;
NET "TxDC[3]" LOC = L20;
NET "TxDC[2]" LOC = L22;
NET "TxDC[1]" LOC = K18;
NET "TxDC[0]" LOC = K19;

NET "RxClk[3]" LOC = L19;
NET "RxDV[3]" LOC = J17;
NET "RxErr[3]" LOC = M22;
NET "CRS[3]" LOC = M21;
NET "RxDD[3]" LOC = N22;
NET "RxDD[2]" LOC = N20;
NET "RxDD[1]" LOC = M19;
NET "RxDD[0]" LOC = M20;

NET "TxClk[0]" LOC = H21;
NET "TxEn[3]" LOC = N19;
NET "TxDD[3]" LOC = P19;
NET "TxDD[2]" LOC = P20;
NET "TxDD[1]" LOC = P21;
NET "TxDD[0]" LOC = P22;

NET "RxClk[4]" LOC = B12;
NET "RxDV[4]" LOC = A13;
NET "RxErr[4]" LOC = F12;
NET "CRS[4]" LOC = H12;
NET "RxDE[3]" LOC = G13;
NET "RxDE[2]" LOC = C13;
NET "RxDE[1]" LOC = D12;
NET "RxDE[0]" LOC = E12;

NET "TxEn[4]" LOC = F13;
NET "TxDE[3]" LOC = E14;
NET "TxDE[2]" LOC = F14;
NET "TxDE[1]" LOC = C14;
NET "TxDE[0]" LOC = D13;

NET "RxClk[5]" LOC = D14;
NET "RxDV[5]" LOC = C15;
NET "RxErr[5]" LOC = B14;
NET "CRS[5]" LOC = A14;
NET "RxDF[3]" LOC = A15;
NET "RxDF[2]" LOC = C16;
NET "RxDF[1]" LOC = D15;
NET "RxDF[0]" LOC = F15;

NET "TxClk[1]" LOC = D17;
NET "TxEn[5]" LOC = E16;
NET "TxDF[3]" LOC = B20;
NET "TxDF[2]" LOC = B16;
NET "TxDF[1]" LOC = A16;
NET "TxDF[0]" LOC = C17;

NET "RxClk[6]" LOC = A4;
NET "RxDV[6]" LOC = A5;
NET "RxErr[6]" LOC = A6;
NET "CRS[6]" LOC = C5;
NET "RxDG[3]" LOC = A7;
NET "RxDG[2]" LOC = B6;
NET "RxDG[1]" LOC = D6;
NET "RxDG[0]" LOC = C6;

NET "TxEn[6]" LOC = C7;
NET "TxDG[3]" LOC = C8;
NET "TxDG[2]" LOC = A8;
NET "TxDG[1]" LOC = B8;
NET "TxDG[0]" LOC = D7;

NET "RxClk[7]" LOC = D8;
NET "RxDV[7]" LOC = A9;
NET "RxErr[7]" LOC = C10;
NET "CRS[7]" LOC = C9;
NET "RxDH[3]" LOC = A11;
NET "RxDH[2]" LOC = B10;
NET "RxDH[1]" LOC = D9;
NET "RxDH[0]" LOC = A10;

NET "TxEn[7]" LOC = C11;
NET "TxDH[3]" LOC = H13;
NET "TxDH[2]" LOC = H14;
NET "TxDH[1]" LOC = A12;
NET "TxDH[0]" LOC = D10;

# Chip geographic address
NET "GA[1]" LOC = V13;
NET "GA[0]" LOC = W13;

# Mocrocontroller interface lines
NET "uCA[11]" LOC = Y3;
NET "uCA[10]" LOC = AB4;
NET "uCA[9]" LOC = AA4;
NET "uCA[8]" LOC = AB5;
NET "uCA[7]" LOC = Y5;
NET "uCA[6]" LOC = Y6;
NET "uCA[5]" LOC = W6;
NET "uCA[4]" LOC = Y8;
NET "uCA[3]" LOC = W9;
NET "uCA[2]" LOC = V7;
NET "uCA[1]" LOC = Y10;
NET "uCA[0]" LOC = AB3;

NET "uCD[15]" LOC = AB12;
NET "uCD[14]" LOC = AA12;
NET "uCD[13]" LOC = Y13;
NET "uCD[12]" LOC = AB18;
NET "uCD[11]" LOC = AA18;
NET "uCD[10]" LOC = V15;
NET "uCD[9]" LOC = AB2;
NET "uCD[8]" LOC = AA2;
NET "uCD[7]" LOC = Y7;
NET "uCD[6]" LOC = Y4;
NET "uCD[5]" LOC = W4;
NET "uCD[4]" LOC = AB6;
NET "uCD[3]" LOC = AA6;
NET "uCD[2]" LOC = U13;
NET "uCD[1]" LOC = U14;
NET "uCD[0]" LOC = AA20;

NET "CpldCS" LOC = AA21;

NET "CpldRst" LOC = Y14;
NET "CpldRst" PULLUP = TRUE;

NET "uCRd" LOC = Y21;
NET "uCWr" LOC = T5;

NET "Clk50MHz" LOC = AB13;
# NET "Clk50MHz" CLOCK_DEDICATED_ROUTE = FALSE;

NET "Clk25MHz" LOC = D19;

NET "VXO_P" LOC = D11;

NET "ClkB_P" LOC = Y11;

# two bit serial link to top level FPGA
NET "LinkClk_P" LOC = AA10;
NET "LinkFR_P" LOC = R11;
NET "LinkD_P[1]" LOC = Y9;
NET "LinkD_P[0]" LOC = AA8;

# Specifiying clock rates
NET "Clk50MHz" TNM_NET = "Clk50MHz";
TIMESPEC "TS_Clk50MHz" = PERIOD "Clk50MHz" 20 ns HIGH 50%;

NET "ClkB_P" TNM_NET = "ClkB_P";
TIMESPEC "TS_ClkB_P" = PERIOD "ClkB_P" 6.25 ns HIGH 50%;

NET "VXO_P" TNM_NET = "VXO_P";
TIMESPEC "TS_VXO_P" = PERIOD "VXO_P" 6.25 ns HIGH 50%;
